body {
				font-family: Times New Roman;
				max-width: 800px;
				margin: 0 auto;
				background-color: #e7e7fe;
			}
			h1, h2 {
				text-align: center;
				font-style: normal;
				color:  #0319b2;
			}
			h2 {
				font-style: normal;
			}
			.image_placeholder {
				text-align: center;
			}
			table, td {
				margin: 0 auto;
				border: 1px solid black;
			}
			.happy{
				text-align: center;
			}
